.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #222222;
}

.container-auth {
  display: flex;
  column-gap: 8rem;
  justify-content: center;
  align-items: center;
}
